<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Start Ordering</title>
</head>
<body>
<div layout:fragment="customContent">
    <form action="#" th:action="@{/orders/takeOrder}" method="GET">      
        <div class="form-group">
            <label for="qrCode">QR Code</label>
            <input type="text" class="form-control" id="qrCode" placeholder="QR Code" name="qrCode">
        </div>
        <button type="submit" class="btn btn-primary">Start Ordering</button>
    </form>
</div>
</body>
</html>